/* Auth */

.auth {
	.login-half-bg {
		background: url("https://via.placeholder.com/757x924");
		background-size: cover;
	}

	.register-half-bg {
		background: url("https://via.placeholder.com/757x924");
		background-size: cover;
	}

	&.lock-full-bg {
		background: url("https://via.placeholder.com/1920x1315");
		background-size: cover;
	}

	.lock-profile-img {
		width: 90px;
		height: 90px;
		border-radius: 100%;
	}

	.auth-form-dark {
		background: rgba($black, .6);
		color: $white;

		.form-control {
			border-color: rgba($white, .2);
			color: $white;

			@include input-placeholder {
				color: $white;
			}
		}
	}

	.auth-form-light {
		background: $white;

		select {
			color: $input-placeholder-color;
		}

		.input-group {
			.form-control {

				&:focus,
				&:active {
					border-color: $border-color;
				}
			}
		}

		.form-select {
			background-color: transparent;
			border: 1px;
			border-radius: 0;
			font-size: 0.9375rem;
			border-color: $secondary;
			padding: 15.04px 14.04px;
			color: $dark;
		}
	}

	.auth-form-transparent {
		background: transparent;

		.form-control,
		.input-group-text {
			border-color: map-get($theme-colors, 'secondary');

			&:focus,
			&:active {
				border-color: map-get($theme-colors, 'secondary');
			}
		}

		select {
			outline-color: map-get($theme-colors, 'secondary');
		}

		.form-select {
			background-color: transparent;
			border: 1px;
			border-radius: 0;
			font-size: 0.9375rem;
			border-color: $secondary;
			padding: 15.04px 14.04px;
			color: $dark;
		}
	}

	&.auth-img-bg {
		padding: 0;

		.auth-form-transparent {
			@media (min-width:768px) {
				width: 55%;
				margin: auto;
			}
		}
	}

	.brand-logo {
		margin-bottom: 2rem;

		img {
			width: 150px;
		}
	}

	form {
		.form-group {
			margin-bottom: 1.5rem;

			label {
				font-size: .8125rem;
			}

			.form-control {
				background: transparent;
				border-radius: 0;
				font-size: .9375rem;
			}
		}

		.auth-form-btn {
			height: 50px;
			line-height: 1.5;
		}

		.auth-link {
			font-size: $default-font-size;

			&:hover {
				color: initial;
			}
		}
	}
}


.dark-theme {
	.auth-form-transparent {
		background: transparent;

		.form-control,
		.input-group-text {
			border-color: map-get($theme-colors, 'secondary');

			&:focus,
			&:active {
				border-color: map-get($theme-colors, 'secondary');
			}
		}

		select {
			outline-color: map-get($theme-colors, 'secondary');
		}

		.form-select {
			background-color: transparent;
			border: 1px;
			border-radius: 0;
			font-size: 0.9375rem;
			border-color: $secondary;
			padding: 15.04px 14.04px;
			color: $white;
		}
	}
}