/* No-ui-slider */
.dark-theme {}

.noUi-target {
  border: none;
  box-shadow: none;
  @include border-radius(0px);

  .noUi-handle {
    width: 20px;
    height: 20px;
    border-radius: 100%;

    &:before {
      display: none;
    }

    &:after {
      content: "";
      width: 10px;
      height: 10px;
      border-radius: 100%;
      left: 4px;
      top: 4px;
    }
  }

  &.noUi-horizontal {
    height: 0.25rem;

    .noUi-handle {
      top: -8px;
    }
  }

  &.noUi-vertical {
    width: 0.25rem;
    height: 156px;
    display: inline-block;

    .noUi-handle {
      left: -7px;
    }
  }

  .noUi-base {
    background: $content-bg;
    box-shadow: none;
    border: none;

    .noUi-connect {
      background: map-get($theme-colors, 'primary');
      box-shadow: none;
    }

    .noUi-origin {
      background: map-get($theme-colors, 'success');

      .noUi-handle {}
    }
  }

  .noUi-pips {

    .noUi-marker-horizontal,
    .noUi-marker-vertical {
      background: $border-color;
    }

    .noUi-marker-horizontal {
      height: 9px;
      width: 1px;
    }

    .noUi-marker-vertical {
      height: 1px;
      width: 9px;
    }

    .noUi-value {
      color: $light;
      font-size: 0.94rem;
      font-family: $type1;
      font-weight: bold;
    }
  }
}

/* Slider Color variations */
@each $color,
$value in $theme-colors {
  .slider-#{$color} {
    @include slider-color-variant($value);
  }
}

.page-body-wrapper {
  @include flex-direction(column);

  @media (max-width: 991px) {
    padding-top: $horizontal-top-navbar-height;
  }

  &.full-page-wrapper {
    .content-wrapper {
      width: 100%;
      height: 100vh;
      max-width: none;
    }
  }
}

.main-panel {
  width: 100%;
  height: max-content;

  .content-wrapper {}
}

.container-scroller {
  .content-wrapper {
    @include make-container();
    // @include make-container-max-widths();
    width: 1320px;
    margin: auto;
    padding: 2rem 0.937rem;
  }

  .page-body-wrapper {
    background: $content-bg;
    padding-left: 0;
    padding-right: 0;
  }
}