/* Cards */

.card {
  border: 1px solid $card-border-color;
  box-shadow: $card-shadow-color;

  .card-body {
    padding: $card-padding-y $card-padding-x;

    +.card-body {
      padding-top: 1rem;
    }

    .card-icon-indicator {
      width: 45px;
      height: 45px;
      font-size: 20px;
      color: $white;
      border-radius: 50px;
      text-align: center;
      line-height: 2.2;
    }

    &.large-card {
      padding: $card-padding-y-lg $card-padding-x-lg;

      @media (min-width: 992px) {
        padding: 24px 24px;
      }
    }
  }

  .card-title {
    color: $card-title-color;
    margin-bottom: 0.75rem;
    text-transform: capitalize;
    font-family: $type1;
    font-size: 16px;
    font-weight: 500;
  }

  .card-subtitle {
    @extend .text-gray;
    font-family: $type1;
    margin-top: 0.625rem;
    margin-bottom: 0.625rem;
  }

  .card-description {
    color: $card-description-color;
    margin-bottom: 1.5rem;
    font-family: $type1;
  }

  &.card-outline-success {
    border: 1px solid map-get($theme-colors, 'success');
  }

  &.card-outline-primary {
    border: 1px solid map-get($theme-colors, 'primary');
  }

  &.card-outline-warning {
    border: 1px solid map-get($theme-colors, 'warning');
  }

  &.card-outline-danger {
    border: 1px solid map-get($theme-colors, 'danger');
  }

  &.card-rounded {
    @include border-radius(5px);
  }

  &.card-faded {
    background: #b5b0b2;
    border-color: #b5b0b2;
  }

  &.card-circle-progress {
    color: $white;
    text-align: center;
  }

  &.card-img-holder {
    position: relative;

    .card-img-absolute {
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
    }
  }
}

@media (min-width: 576px) {
  .card-columns {
    column-count: 3;
    column-gap: 1.25rem;
    orphans: 1;
    widows: 1;

    .card {
      display: inline-block;
      width: 100%;
      margin-bottom: 0.75rem;
    }
  }
}

.dark-theme {
  .card {
    background: $card-bg-dark;
    border: 1px solid $card-border-color-dark;
    box-shadow: $card-shadow-color-dark;

    .card-title {
      color: $card-title-color-dark;
    }
  }

  .page-description {
    color: white;
  }

  @each $color, $value in $theme-colors {
    .card-inverse-#{$color} {
      @include card-inverse-variant(rgba(map-get($theme-colors, $color), 0.2),
        theme-color-level($color, 1),
        theme-color-level($color, 3));
    }
  }
}

@each $color, $value in $theme-colors {
  .card-inverse-#{$color} {
    @include card-inverse-variant(rgba(map-get($theme-colors, $color), 0.2),
      theme-color-level($color, 1),
      theme-color-level($color, 3));
  }
}