/* Modals */

.modal {
  .modal-dialog {
    margin-top: 100px;

    .modal-content {
      .modal-header {
        padding: $modal-header-padding-y $modal-header-padding-x;
        justify-content: space-between;

        .close {
          background: transparent;
          border: none;

          span {
            font-size: 20px;
            font-weight: 400;
            color: #6a6a6a;
          }
        }
      }

      .modal-body {
        padding: $modal-body-padding-y $modal-body-padding-x;
      }

      .modal-footer {
        padding: $modal-footer-padding-y $modal-footer-padding-x;
      }
    }
  }
}

.dark-theme {
  .modal {
    .modal-dialog {
      .modal-content {
        background: $modal-content-bg-dark;
        border: 1px solid $border-color-dark;

        .modal-header {
          border-bottom: 1px solid $border-color-dark;

          .modal-title {
            color: $white;
          }
        }

        .modal-body {
          color: $gray-lighter;
        }

        .modal-footer {
          border-top: 1px solid $border-color-dark;
        }
      }
    }
  }
}