/* Select2 */

.select2-container--default {
  .select2-results__option--highlighted[aria-selected] {
    background: map-get($theme-colors, 'primary');
  }

  .select2-selection--single,
  .select2-dropdown,
  .select2-selection--multiple {
    border-color: $border-color;

    .select2-search__field {
      border-color: $border-color;
    }
  }

  .select2-selection--single {
    height: auto;
    @extend .form-control;

    .select2-search__field {
      @extend .form-control;
    }

    .select2-selection__rendered {
      line-height: 16px;
    }
  }

  .select2-dropdown {
    font-size: .8125rem;
  }

  &.select2-container--focus {
    .select2-selection--multiple {
      border-color: $border-color;
    }
  }

  .select2-selection--multiple {
    .select2-selection__choice {
      color: $white;
      border: 0;
      border-radius: 3px;
      padding: 6px;
      font-size: .625rem;
      font-family: inherit;
      line-height: 1;

      .select2-selection__choice__remove {
        color: $white;
      }

      &:nth-child(5n+1) {
        background: map-get($theme-colors, 'primary');
      }

      &:nth-child(5n+2) {
        background: map-get($theme-colors, 'success');
      }

      &:nth-child(5n+3) {
        background: map-get($theme-colors, 'info');
      }

      &:nth-child(5n+4) {
        background: map-get($theme-colors, 'danger');
      }

      &:nth-child(5n+5) {
        background: map-get($theme-colors, 'warning');
      }
    }
  }
}


.dark-theme {

  .select2-container--default {
    .select2-results__option--highlighted[aria-selected] {
      background: map-get($theme-colors, "primary");

    }

    .select2-results__option[aria-selected=true] {
      background-color: #ddd;
      color: $dark;
    }

    .select2-selection--single,
    .select2-dropdown,
    .select2-selection--multiple {
      border-color: $border-color;
    }

    .select2-selection--single {
      height: auto;
      @extend .form-control;

      .select2-search__field {
        @extend .form-control;
      }

      .select2-selection__rendered {
        line-height: 16px;
        color: white;
      }
    }

    .select2-dropdown {
      background: $dark;
      font-size: .8125rem;
    }

    &.select2-container--focus {
      .select2-selection--multiple {
        border-color: $border-color;
      }
    }

    .select2-selection--multiple {
      background: transparent;

      .select2-selection__choice {
        color: $white;
        border: 0;
        border-radius: 3px;
        padding: 6px;
        font-size: .625rem;
        font-family: inherit;
        line-height: 1;

        .select2-selection__choice__remove {
          color: $white;
        }

        &:nth-child(5n+1) {
          background: map-get($theme-colors, "primary");

        }

        &:nth-child(5n+2) {
          background: map-get($theme-colors, "success");

        }

        &:nth-child(5n+3) {
          background: map-get($theme-colors, "info");

        }

        &:nth-child(5n+4) {
          background: map-get($theme-colors, "danger");

        }

        &:nth-child(5n+5) {
          background: map-get($theme-colors, "warning");

        }
      }

      .select2-selection__rendered {
        background: transparent;
      }
    }
  }

  .select2-container--default .select2-search--inline .select2-search__field {
    background: transparent;
    color: white;
    border: none;
    outline: 0;
    box-shadow: none;
    -webkit-appearance: textfield;
  }

  .select2-container--default .select2-search--dropdown .select2-search__field {
    border: 1px solid #aaa;
    color: black;
  }
}

.select2-selection__arrow {
  padding: 18px;
}